{% extends 'layouts/dashboard_layout.html.twig' %}

{% block title %}Modifier la Collecte{% endblock %}

{% block page_title %}
    <i class="bi bi-pencil-square"></i> Modifier la Collecte
{% endblock %}

{% block dashboard_content %}
<div class="d-flex justify-content-end mb-3">
    <a href="{{ path('app_admin_collecte_index') }}" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Retour à la liste
    </a>
</div>

<div class="card">
    <div class="card-body">
        {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.dateDebut) }}
            {{ form_row(form.dateFin) }}
            {{ form_row(form.capaciteMaximale) }}
            {{ form_row(form.statut) }}
            {{ form_row(form.lieu) }}
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock dashboard_content %}

