{% extends 'admin/base.html.twig' %}

{% block title %}Modifier la Collecte{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Modifier la Collecte</h1>
    <a href="{{ path('app_admin_collecte_index') }}" class="btn btn-secondary">Retour à la liste</a>
</div>

<div class="card">
    <div class="card-body">
        {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.dateDebut) }}
            {{ form_row(form.dateFin) }}
            {{ form_row(form.capaciteMaximale) }}
            {{ form_row(form.statut) }}
            {{ form_row(form.lieu) }}
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

