{% extends 'layouts/dashboard_layout.html.twig' %}

{% block title %}Nouveau Lieu{% endblock %}

{% block page_title %}
    <i class="bi bi-plus-circle"></i> Nouveau Lieu
{% endblock %}

{% block dashboard_content %}
<div class="d-flex justify-content-end mb-3">
    <a href="{{ path('app_admin_lieu_index') }}" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Retour à la liste
    </a>
</div>

<div class="card">
    <div class="card-body">
        {{ form_start(form) }}
            {{ form_row(form.nomLieu) }}
            {{ form_row(form.adresse) }}
            {{ form_row(form.ville) }}
            {{ form_row(form.codePostal) }}
            <button type="submit" class="btn btn-primary">Créer</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock dashboard_content %}

