{% extends 'layouts/dashboard_layout.html.twig' %}

{% block title %}Détails du Lieu{% endblock %}

{% block page_title %}
    <i class="bi bi-info-circle"></i> Détails du Lieu
{% endblock %}

{% block dashboard_content %}
<div class="d-flex justify-content-end mb-3">
    <a href="{{ path('app_admin_lieu_edit', {'id': lieu.id}) }}" class="btn btn-warning me-2">
        <i class="bi bi-pencil-square"></i> Modifier
    </a>
    <a href="{{ path('app_admin_lieu_index') }}" class="btn btn-secondary">
        <i class="bi bi-arrow-left"></i> Retour à la liste
    </a>
</div>

<div class="card">
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <th>ID</th>
                    <td>{{ lieu.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ lieu.nomLieu }}</td>
                </tr>
                <tr>
                    <th>Adresse</th>
                    <td>{{ lieu.adresse }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ lieu.ville }}</td>
                </tr>
                <tr>
                    <th>Code Postal</th>
                    <td>{{ lieu.codePostal }}</td>
                </tr>
                <tr>
                    <th>Collectes</th>
                    <td>{{ lieu.collectes|length }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock dashboard_content %}

